<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">sID Social Identity</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Me</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Find Friends</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search for friend...">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a ui-sref='.profile'>Edit Profile</a></li>
        <!-- <li><a ui-sref='newsfeed'>News Feed</a></li>
        <li><a ui-sref='myratings'>View My Ratings</a></li>
        <li><a ui-sref='rateafriend'>Rate A Friend</a></li> -->
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {{HomeCtrlTest}}
      <div ui-view></div>
    </div>
  </div>
</div>
